<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!-- Remover atributo debug en producción -->
    <compilation xdt:Transform="RemoveAttributes(debug)" debug="false" />
    
    <!-- Configuración de errores para producción -->
    <customErrors mode="On" defaultRedirect="~/Views/Error/Error.aspx?code=500" xdt:Transform="SetAttributes(mode,defaultRedirect)">
      <error statusCode="403" redirect="~/Views/Error/Error.aspx?code=403" />
      <error statusCode="404" redirect="~/Views/Error/Error.aspx?code=404" />
      <error statusCode="500" redirect="~/Views/Error/Error.aspx?code=500" />
    </customErrors>
    
    <!-- Optimizaciones de sesión para producción -->
    <sessionState timeout="30" xdt:Transform="SetAttributes(timeout)" />
    
    <!-- Deshabilitar trace en producción -->
    <trace enabled="false" xdt:Transform="SetAttributes(enabled)" />
  </system.web>
  
  <!-- Remover información del servidor en producción -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" xdt:Transform="Insert" />
        <remove name="Server" xdt:Transform="Insert" />
        <remove name="X-AspNet-Version" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Descomentar sección rewrite para Azure (tiene URL Rewrite Module instalado por defecto) -->
    <!-- La transformación Insert agregará esta sección si no existe, o reemplazará la comentada -->
    <rewrite xdt:Transform="Insert">
      <outboundRules>
        <rule name="Remove X-Frame-Options" preCondition="ResponseIsHtml">
          <match serverVariable="RESPONSE_X-Frame-Options" pattern=".*" />
          <action type="Rewrite" value="SAMEORIGIN" />
        </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>