name: Deploy JELA API to Azure

on:
  push:
    branches:
      - main
    paths:
      - 'JelaWeb/JELA.API/**'
      - '.github/workflows/deploy-api.yml'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: dotnet publish
        run: dotnet publish JelaWeb/JELA.API/JELA.API/JELA.API.csproj -c Release -o ${{github.workspace}}/publish

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'JELA-API-Logistica'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{github.workspace}}/publish
